.icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  &-logo-icon {
    background-image: url("../img/icon/foto.png");
    border-radius: 50%;
    border: 2px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
}
.navbar {
  background-color: #ffffff;
  color: #212226;
  display: flex;
  gap: 180px;
  margin: 1px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  @media (min-width: 992px) {
    border-radius: 40px;
  }
  &-nav {
    display: flex;
    padding: 12px;
    color: black;
    gap: 25px;
    &-item {
      gap: 30px;
      a {
        line-height: 150%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-logo {
    gap: 3px;
    display: flex;
    //position: absolute;
    &-create-video {
      display: inline-flex;
      // position: relative;
      padding: 7px;
      gap: 4px;
      border-radius: 12px;
      font-weight: 300;
      font-size: 1.1rem;
      color: #181515;
      justify-content: center;
      align-items: center;
    }
  }
}


.explanation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 120px;
  margin-top: 150px;
  gap: 120px;
  &-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-title {
      line-height: 120%;
      font-size: 4rem;
    }
    &-paragraph {
      font-size: 2rem;
      line-height: 200%;
      letter-spacing: -2%;
      opacity: 100%;
    }
  }
  &-install {
    display: flex;
    font-size: 2rem;
    position: relative;
    border-color: #181515;
    border-radius: 12px;
    &-logo {
      display: inline-flex;   
      background-color: #181515;
      gap: 4px;
      border-radius: 12px;
      font-weight: 300;
      font-size: 1.1rem;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 16px;
      justify-content: center;
      align-items: center;
      .icon-chrome {
        background-image: url("../img/icon/chrome.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        color: #ffffff;
      }
    }
  }
}
